<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <!-- Use title if it's in the page YAML frontmatter -->
        <title><%= current_page.data.title || "Ops All The Things!" %></title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->

        <%= stylesheet_link_tag "all" %>
        <%= javascript_include_tag "modernizr" %> 
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an outdated browser. <a href="http://browsehappy.com/">Upgrade your browser today</a> or <a href="http://www.google.com/chromeframe/?redirect=true">install Google Chrome Frame</a> to better experience this site.</p>
        <![endif]-->

        <div class="row">
        <div class="large-12 columns">
        <div class="nav-bar right">
        <ul class="button-group">
        <li><a href="/" class="button">Home</a></li>
        </ul>
        </div>
        <h1>Ops All The Things!</h1>
        <hr/>
        </div>
        </div>

        <div class="row">

        <div class="large-9 columns" role="content">
        <%= yield %>
        </div>

        <aside class="large-3 columns">
        <div class="panel">
        <h5>Subscribe</h5>
          <ul class="side-nav">
            <li><%= link_to 'Direct Link', 'podcast.xml' %></li>
            <li><%= link_to 'iTunes', 'https://itunes.apple.com/us/podcast/ops-all-the-things!/id724663372' %></li>
            <li><%= link_to 'Sticher', 'http://www.stitcher.com/s?fid=39594&refid=stpr' %></li>
          </ul>
        </div>
        <h5>Sponsored by</h5>
        <% link_to 'https://www.chef.io' do %>
          <%= image_tag 'chef_logo.png' %>
        <% end %>
        </aside>
         
        </div>

        <footer class="row">
        <div class="large-12 columns">
        <hr/>
        <div class="row">
        <div class="large-6 columns">
        <p>&copy; Ops All The Things!</p>
        </div>
        <div class="large-6 columns">
        <ul class="inline-list right">
          <li><%= link_to 'Home', '/' %></li>
        </ul>
        </div>
        </div>
        </div>
        </footer>
        <%= javascript_include_tag  "all" %>
        <!-- Google Analytics: change UA-XXXXX-X to be your site's ID. -->
        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
        <%= javascript_include_tag  "../bower_components/audiojs/audiojs/audio" %>
        <script>
          audiojs.events.ready(function() {
            var as = audiojs.createAll();
          });
        </script>

    </body>
</html>
