<?xml version="1.0" encoding="utf-8"?>
<rss xmlns:itunes="http://www.itunes.com/dtds/podcast-1.0.dtd" version="2.0">
  <channel>
    <title><![CDATA[Ops All The Things!]]></title>
    <link>https://www.opsallthethings.com/</link>
    <language>en-us</language>
    <copyright><![CDATA[© 2013 Ops All The Things!]]></copyright>
    <itunes:author><![CDATA[Christopher Webber and Steven Murawski]]></itunes:author>
    <itunes:subtitle><![CDATA[A Podcast about all things Operations, DevOps and Systems Administration]]></itunes:subtitle>
    <description><![CDATA[A Podcast about all things Operations, DevOps and Systems Administration]]></description>
    <itunes:explicit>no</itunes:explicit>
 
    <itunes:owner>
      <itunes:name>Ops All The Things!</itunes:name>
      <itunes:email>blog@opsallthethings.com</itunes:email>
    </itunes:owner>
 
    <itunes:image href="https://www.opsallthethings.com/img/logo.png" />
    <itunes:category text="Technology">
      <itunes:category text="Tech News"/>
    </itunes:category>
 
    <% page_articles.each_with_index do |article, i| %>
    <item>
      <title><![CDATA[<%= "#{article.data.number} - #{article.title}" %>]]></title>
      <description><![CDATA[<%= article.body %>]]></description>
      <link>https://www.opsallthethings.com/podcast/<%= "#{article.data.number}-#{article.slug}/" %></link>
      <guid>https://www.opsallthethings.com/podcast/<%= "#{article.data.number}-#{article.slug}/" %></guid>
      <pubDate><%= article.date.rfc2822 %></pubDate>
      <itunes:author><![CDATA[Christopher Webber and Steven Murawski]]></itunes:author>
      <itunes:summary><![CDATA[<%= article.body %>]]></itunes:summary>
      <itunes:duration><%= durration(article.data.audio_file) %></itunes:duration>
      <enclosure url="https://www.opsallthethings.com<%= article.data.audio_file %>" type="audio/mp3" length="<%= File.size("./source/#{article.data.audio_file}") %>" />
    </item>
  <% end %>
  </channel>
</rss>
